.calculator {
    width: 350px;
    height: 350px;
    border-radius: 350px;
    border: 2px solid black;
    background-color: #021428;
    box-shadow: 0 0 30px grey;
    position:absolute;
    left:50%;
    top:50%;
    margin:-175px 0 0 -175px;

}

#qwerty{
    width: 700px;
    height: 700px;
    border: 2px solid black;
    position: relative;
}

.calculatorForm {
    width: 210px;
    height: 100%;
    margin: 8px auto 0;
    text-align: center;
    padding: 20px;
}

.calculatorRow {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.calculatorDisplay {
    margin: 0 0 20px;
    width: 100%;
    border: 1px solid #140FBA;
    padding: 4px 2px;
    text-align: right;
    font: 700 16px/1 Arial, sans-serif;
    color: #140FBA;
    background-color: whitesmoke;
}

.calculatorButton {
    width: 41px;
    height: 35px;
    cursor: pointer;
    border: none;
    transition: all .2s;
    text-transform: uppercase;
    border-radius: 41px;
}

.calculatorPlus {
    width: 98px;
}

.calculatorButton:hover {
    background-color: #528299;
    font-weight: 700;
}

/*#parent {*/
    /*width: 500px;*/
    /*height: 500px;*/
    /*border: 2px solid black;*/
    /*position: relative;*/
/*}*/
/*#child {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*height: 101px;*/
    /*width: 101px;*/
    /*margin: -0% auto auto -0%;*/
/*}*/
